body{
    width: 100%;
    height: 100%;
}
.btn-yellow {
    color: $color-black;
    background-color: $bg-yellow;
    border-color: $color-yellow;
    padding: .75rem 4rem;
}

h1{
    font-weight: 200;
    line-height: 4rem;
    font-size: 2.5rem;
}

.text-grey{
    color: $text-grey;
}

/* Header */
header{
    @media only screen and (max-width: 767px){
        height: 70px;
    }
}
.navbar{
    font-size: 0.9rem;
    font-weight:100;
    height:100px;
    border-bottom: 1px solid #414144;
    background-color:$bg-header;
    @media only screen and (max-width: 767px){
        position:fixed;
        z-index:100;
        width:100%;
        height:70px;
    }
    a{
        color: $color-white;
    }
    a:hover{
        color: $color-yellow;
    }
}
.navbar-brand{
    color: $color-brand!important;
    font-size: 1.75rem;
    font-weight: 400;
}
.navbar-brand,
.select-lang{
    min-width:10vw;
}
.select-lang{
    .dropdown-menu {
        min-width: 10rem;
        padding: .5rem 1rem;
        margin: .125rem 0 0;
        font-size: 0.8rem;
        text-align: left;
        list-style: none;
        background-color:$bg-black;
        background-clip: padding-box;
        border: 0;
        border-radius: 0;
    }
}

.header-menu{
    width:100%;
    .main-menu{
        @media only screen and (max-width: 767px){
            flex-direction: column;
            align-items: self-start;
            justify-content: flex-start;
            position: fixed;
            visibility: hidden;
            top: 0;
            right: -100%;
            z-index:11;
            height: 100%;
            min-width:250px;
            width:auto;
            margin: 0;
            padding: 60px 15px;
            list-style: none;

            background-color: $bg-black;
            box-shadow: 1px 0px 6px rgba(0, 0, 0, .5);

            transition-duration: .5s;
            .login-nav{
                order:-1;
                flex-direction: row;
            }
            .navbar-nav{
                width:100%;
            }
        }
    
    }
        
    #menu-toggle {
        opacity: 0;
        @media only screen and (min-width: 768px){
            display: none;
        }
        &:checked ~ .menu-btn > span {
            transform: rotate(45deg);
        }
        &:checked ~ .menu-btn > span::before {
            top: 0;
            transform: rotate(0);
        }
        &:checked ~ .menu-btn > span::after {
            top: 0;
            transform: rotate(90deg);
        }
        &:checked ~ .main-menu {
            visibility: visible;
            right: 0;
        }
    }

    .menu-btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 20px;
        right: 20px;
        width: 26px;
        height: 26px;
        margin:0;
        cursor: pointer;
        z-index: 12;

        @media only screen and (min-width: 768px){
            display: none;
        }

        span,
        span::before,
        span::after {
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $bg-white;
            transition-duration: .25s;
        }
        span::before {
            content: '';
            top: -8px;
        }
        span::after {
            content: '';
            top: 8px;
        }
    }


    .nav-link{
        position:relative;
        &:after{
            display: block;
            position: absolute;
            left: 0; 
            bottom: -32px;
            width: 0;
            height: 3px;
            background-color: $bg-yellow;
            content: "";
            transition: width 0.2s ease-out; 
        }
        &:hover:after,
        &:focus:after {
            width: 100%;
        }

        @media only screen and (max-width: 767px){
            padding-left: 30px;
            padding-right: 30px;
            border-bottom: 1px solid rgba(255,255,255,0.1);
            &:after{
                display: block;
                position: absolute;
                left: 0; 
                bottom: 0;
                width: 0;
                height: 1px;
                background-color: $bg-yellow;
                content: "";
                transition: width 0.2s ease-out;
            }
            &:before {
                content: "";
                right: 100%; 
                margin-right: -15px;
                margin-top: 2px;
                position: absolute;
                border-radius: 50%;
                height: 15px;
                width: 15px;
                background-color: rgba(255,255,255,0.2);
                text-align:center;
            }
        }
    }
    .active{
        .nav-link{
            color: $color-yellow;
            &:after{
                display: block;
                position: absolute;
                left: 0; 
                bottom: -32px;
                height: 3px;
                background-color: $color-yellow;
                width:100%;
            }
            @media only screen and (max-width: 767px){
                &:after{
                    display: block;
                    position: absolute;
                    left: 0; 
                    bottom: 0px;
                    height: 1px;
                    background-color: $color-yellow;
                    width:100%;
                }
            }
        }
    }
    .nav-content{
        display:none;
        position: absolute;
        z-index: 12;
        padding: 0px 10px 20px;
        background-color: $bg-black;
        border-bottom: 2px solid $color-yellow;
        margin-top: 32px;

        @media only screen and (max-width: 767px){
            flex-direction: column;
        }
    }

    .nav-item:hover > .nav-content {
        display:flex;
    }
    .subnav-content{
        display: flex;
        flex-direction: column;
        padding: 0 50px 0 20px;
        .title{
            color: $color-grey;
            font-weight:500;
            padding-bottom:20px;
            padding-top: 20px;
        }
        a{line-height:2rem;}
    }
}


/* Hero */
.carousel-item{
    height: calc(100vh - 100px)!important;
    max-height: 600px;
    min-height: 475px;
    .carousel-caption{
        position: relative;
        right: 0;
        left: 0;
        bottom: 0;
    }
}
.slide_1{
    background: url('../img/img-slider.png') no-repeat right 0 #000;
    background-size: contain; 
    .container{
        display: flex;
        align-items: center;
        height: 100%;
    }
    .btn{
        padding: .75rem 4rem;
    }
    h1{
        font-weight: 200;
        margin-bottom: 3rem;
        line-height: 4rem;
        font-size: 3.5rem;
        @media only screen and (min-width: 980px){
            max-width:49%;
        }
    }
}
.carousel-indicators {
    justify-content: right;
    margin-right: auto;
    margin-left: auto;
    li {
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 12px;
        height: 12px;
        margin-right: 6px;
        margin-left: 6px;
        text-indent: -999px;
        cursor: pointer;
        background-color:$color-white;
        border-radius: 50%;
        opacity: 1;
        transition: opacity .6s ease;
        &.active{
            background-color: $color-yellow;
        }
    }
}

/* Logos bar */
.logos-bar{
    background-color: $bg-yellow;
    padding:21px 0;
    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logos-bar-logo_5
    {
        background:url('../img/css-sprite-combined.png') 0px -13px;
        width:125px;
        height:25px;
        display:inline-block;
    }

    .logos-bar-logo_4
    {
        background:url('../img/css-sprite-combined.png') -125px -17px;
        width:106px;
        height:21px;
        display:inline-block;
    }

    .logos-bar-logo_3
    {
        background:url('../img/css-sprite-combined.png') -231px -7px;
        width:123px;
        height:31px;
        display:inline-block;
    }

    .logos-bar-logo_2
    {
        background:url('../img/css-sprite-combined.png') -354px -16px;
        width:123px;
        height:22px;
        display:inline-block;
    }

    .logos-bar-logo_1
    {
        background:url('../img/css-sprite-combined.png') -477px -0px;
        width:121px;
        height:38px;
        display:inline-block;
    }
}

/* Values counter */
.values-counter{
    background-color: $bg-white;
        padding: 2.3rem 0;
    &__container{
        /*padding: 40px 0;*/
    }
    &__num{
        font-weight: 600;
        font-size: 2.15rem;
        line-height: 1.3;
        color: $text-darkblue-1;
    }
    &__note{
        font-size: 0.9rem;
        color: $text-darkblue-2;
    }
    h2{
        color: $color-grey;
        font-weight: 200;
        font-size: 1.85rem;
        margin-bottom: 1.2rem;
    }
}

/* Custom range bar */
input[type=range].custom_range {
  -webkit-appearance: none;
  width: 100%;
  margin: 10px 0;
}
input[type=range].custom_range:focus {
  outline: none;
}

input[type=range].custom_range::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #ececec;
  border-radius: 0px;
  border: 0px solid rgba(1, 1, 1, 0);
}
input[type=range].custom_range::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 25px;
  width: 25px;
  border-radius: 50px;
  background: #ffd200;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
input[type=range].custom_range:focus::-webkit-slider-runnable-track {
  background: #ececec;
}


input[type=range].custom_range::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #ececec;
  border-radius: 0px;
  border: 0px solid rgba(1, 1, 1, 0);
}
input[type=range].custom_range::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 25px;
  width: 25px;
  border-radius: 50px;
  background: #ffd200;
  cursor: pointer;
}


input[type=range].custom_range::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].custom_range::-ms-fill-lower {
  background: #ffd200;
  border: 0px solid rgba(1, 1, 1, 0);
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range].custom_range::-ms-fill-upper {
  background: #ececec;
  border: 0px solid rgba(1, 1, 1, 0);
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range].custom_range::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 25px;
  width: 25px;
  border-radius: 50px;
  background: #ffd200;
  cursor: pointer;
  height: 5px;
}
input[type=range].custom_range:focus::-ms-fill-lower {
  background: #ffd200;
}
input[type=range].custom_range:focus::-ms-fill-upper {
  background: #ececec;
}
