// Variables Bootstrap 4

$bg-header: #171717;
$bg-black: #000000; 
$bg-white: #ffffff;
$bg-yellow: #ffd200;

$color-white: #ffffff;
$color-yellow: #ffd200;
$color-brand: #ffd981;
$color-black: #000000; 
$color-grey: #888888; 

$text-grey: #98989d;
$text-darkblue-1: #323a45;
$text-darkblue-2: #525c69;

$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 980px,
  xl: 1920px
);

$container-max-widths: (
  sm: 480px,
  md: 768px,
  lg: 980px,
  xl: 1920px
);

